@import '@/assets/styles/styles';

.breadcrumbs {
  display: flex;

  &__link {
    position: relative;
    margin-right: 15px;

    a {
      &:hover {
        @include media-breakpoint-up(md) {
          text-decoration: underline;
        }
      }
    }

    &_disabled {
      opacity: 0.5;

      span {
        cursor: default;
      }
    }

    &::before {
      content: '/';
      margin-right: 15px;
    }

    &:first-child {
      &:before {
        content: '';
        margin: 0;
      }
    }
  }
}
