@import '@/assets/styles/styles';

.users {
  max-width: calc(100vw - 20px);

  &__title {
    text-align: center;
    margin: 30px 0 20px;
  }

  &__table {
    .v-data-table__td {
      justify-content: center;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
  }
}
