@import '@/assets/styles/styles';

.movie-page{
  margin: 10px 0;

  &__trailer{
    width: 100%;
    aspect-ratio: 2/1;
    margin-bottom: 5px;

    @include media-breakpoint-down(md) {
      aspect-ratio: 1.5/1;
    }
  }

  &__schedule{
    &-title{
      margin-bottom: 10px;
    }

    &-select{
      display: flex;
      justify-content: flex-end;
    }

  }

  &__info{
    margin-bottom: 15px;
    display: flex;
    gap: 6%;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &__picture{
    flex: 1 0 47%;
    aspect-ratio: 1.5/1;
  }

  &__main-info{
    flex: 1 0 47%;
    margin-bottom: 10px;

    @include media-breakpoint-down(md) {
      margin: 0 5vw;
    }

    @include media-breakpoint-down(xxs) {
      margin: 0;
    }

    ul{
      padding: 10px;

      @include media-breakpoint-down(md) {
        padding: 15px 20px;
      }

      @include media-breakpoint-down(xxs) {
        padding: 10px;
      }
    }

    li{
      list-style: none;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      font-size: 1.1em;
      margin-bottom: 10px;
    }

  }

  &__title{
    margin: 0 0 20px;
    font-size: 2em;

    @include media-breakpoint-down(md) {
      margin: 20px 0;
      text-align: center;
    }
  }

  &__description{
    padding: 10px;
    margin-bottom: 15px;
  }

  &__slider{
    width: 100%;
    aspect-ratio: 2/1;

    @include media-breakpoint-down(md) {
      aspect-ratio: 1.5/1;
    }
  }
}