@import '@/assets/styles/styles';

.admin-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  &__header {
    position: fixed;
    z-index: 100;
    width: 100%;
  }

  &__main {
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row: 2;

    @include media-breakpoint-down(md) {
      margin-top: 50px;
    }

    &-navigation {
      grid-column: 1;
    }

    &-page {
      grid-column: 2;
    }
  }

  .footer {
    grid-row: 3;
  }
}
