@import '@/assets/styles/styles';

.site-layout {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;

  &__header {
    position: fixed;
    z-index: 100;
    width: 100%;
  }

  &__main {
    margin-top: 107px;
    grid-row: 1;
    background-repeat: repeat;

    @include media-breakpoint-down(md) {
      margin-top: 65px;
    }
  }

  &__footer {
    grid-row: 2;
  }
}
