body {
  position: relative;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: $text-color;
  background: $background-color;
}

.container {
  width: 100%;
  max-width: 1366px;
  padding: 5px 15px;
  margin: 0 auto;

  @include media-breakpoint-down(md) {
    padding: 5px 10px;
  }
}

.container-admin {
  width: 100%;
  max-width: 1366px;
  padding: 15px;
  margin: 0 auto;

  @include media-breakpoint-down(md) {
    padding: 5px 10px;
  }
}

h1 {
  @include media-breakpoint-down(sm) {
    font-size: 1.5em;
  }
}

.hover {
  transition: opacity 300ms ease;

  &:hover {
    @media (width >= 1024px) {
      opacity: 0.8;
    }
  }
}

.active {
  transition: scale 300ms ease;

  &:active {
    transform: scale(0.99);
  }
}

a {
  color: $text-color;
}
